<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>智能湿地评估与水鸟监测系统</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">



<link rel="preconnect" href="https://fonts.gstatic.com/">
<link href="static/css/css2.css" rel="stylesheet">

<link href="static/css/all.min.css" rel="stylesheet">

<link href="static/css/flaticon.css" rel="stylesheet">

<link href="static/css/owl.carousel.min.css" rel="stylesheet">
<link href="static/css/lightbox.min.css" rel="stylesheet">

<link href="static/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid bg-light position-relative shadow">
<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
<a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
<img src="static/picture/logo1.jpg" class="img-fluid rounded-circle mx-auto mb-3" style="width: 60px;">
<span class="text-primary">潮起飞羽</span>
</a>
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
<div class="navbar-nav font-weight-bold mx-auto py-0">

<a href="{{url_for('root')}}" class="nav-item nav-link">图像识别</a>

<a href="{{url_for('video')}}" class="nav-item nav-link active">视频识别</a>

<a href="{{url_for('audio')}}" class="nav-item nav-link">音频识别</a>
<!--<a href="{{url_for('wetland')}}" class="nav-item nav-link">湿地变化识别</a>-->
<a href="{{url_for('answer')}}" class="nav-item nav-link">知识答题</a>


 <!--
<a href="team.html" class="nav-item nav-link">Teachers</a>
<a href="gallery.html" class="nav-item nav-link">Gallery</a>
<a href="contact.html" class="nav-item nav-link">Contact</a>
--->
</div>
<a href="" class="btn btn-primary px-4">User</a>
</div>
</nav>
</div>


<div class="container-fluid bg-primary mb-5">
<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
<h3 class="display-3 font-weight-bold text-white">视频识别之水鸟种类识别</h3>
<div class="d-inline-flex text-white">
<p class="m-0"><a class="text-white" href="">Home</a></p>
<p class="m-0 px-2">/</p>
<p class="m-0">水鸟种类识别</p>
</div>
</div>
</div>


<div class="container-fluid pt-5">
<div class="container">
<div class="text-center pb-2">
<p class="section-title px-5"><span class="px-2">视频识别</span></p>
<h1 class="mb-4">水鸟种类视频识别</h1>
</div>


 <div class="container-fluid py-5">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5">
<div class="card border-0">
<div class="card-header bg-secondary text-center p-4">
<h1 class="text-white m-0">视频识别</h1>
</div>
<div class="card-body rounded-bottom bg-primary p-5">

<div class="form-group">
    <form action="{{ url_for('video') }}" method=post enctype=multipart/form-data id=upload-form>
<div class="btn btn-secondary btn-block border-0 py-3">
            <center><input data-role="file" type="file" class="ufile" name="file" id="uploadImgBtn" @change="upload"
                            @click="clearValue($event)" :accept="accept"></center>
          </div>
            <center><h5 class="heading">选择视频文件点击上传</h5></center>
            <center> <input type=submit value='上传' class="btn btn-secondary btn-block border-0 py-3"></center><br>
</form>

</div>


</div>
</div>
</div>
<div class="col-lg-7 mb-5 mb-lg-0">
<p class="section-title pr-5"><span class="pr-2">视频识别</span></p>
<h1 class="mb-4">水鸟种类视频识别</h1>
<p>短视频盛行的今天，面对一段视频中的水鸟想要了解其种类？快来选择一段视频进行识别吧！</p>
<ul class="list-inline m-0">
<li class="py-2"><i class="fa fa-check text-success mr-3"></i>支持MP4、flav等格式视频</li>
<li class="py-2"><i class="fa fa-check text-success mr-3"></i>返回置信度前五的水鸟种类</li>
<li class="py-2"><i class="fa fa-check text-success mr-3"></i>快速为您答疑解惑</li>
</ul>
<!--<a href="" class="btn btn-primary mt-4 py-2 px-4">Book Now</a>-->
</div>
</div>
</div>
</div>



<a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

<script data-cfasync="false" src="static/js/email-decode.min.js"></script><script src="static/js/jquery-3.4.1.min.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>
<script src="static/js/bootstrap.bundle.min.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>
<script src="static/js/easing.min.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>
<script src="static/js/owl.carousel.min.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>
<script src="static/js/isotope.pkgd.min.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>
<script src="static/js/lightbox.min.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>

<script src="static/js/jqBootstrapValidation.min.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>
<script src="static/js/contact.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>

<script src="static/js/main.js" type="e90b04dcaa13f7733ecd4a4e-text/javascript"></script>
<script src="static/js/rocket-loader.min.js" data-cf-settings="e90b04dcaa13f7733ecd4a4e-|49" defer=""></script></body>
</html>