<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">



<link rel="preconnect" href="https://fonts.gstatic.com/">
<link href="static/css/css2.css" rel="stylesheet">

<link href="static/css/all.min.css" rel="stylesheet">

<link href="static/css/flaticon.css" rel="stylesheet">

<link href="static/css/owl.carousel.min.css" rel="stylesheet">
<link href="static/css/lightbox.min.css" rel="stylesheet">

<link href="static/css/style.css" rel="stylesheet">
</head>


<body>
</div>
</div>
</div>
</div>
<div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">

<div class="row pt-5">
<div class="col-lg-3 col-md-6 mb-5">
<a href="" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0" style="font-size: 40px; line-height: 40px;">

<span class="text-white">潮起飞羽</span>
</a>
<p> 多模态水鸟识别与智能湿地监测系统.</p>
<div class="d-flex justify-content-start mt-4">
<a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
<a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
<div class="col-lg-3 col-md-6 mb-5">
<h3 class="text-primary mb-4">联系我们</h3>
<div class="d-flex">
<h4 class="fa fa-map-marker-alt text-primary"></h4>
<div class="pl-3">
<h5 class="text-white">地址</h5>
<p>北京林业大学，清华东路35号</p>
</div>
</div>
<div class="d-flex">
<h4 class="fa fa-envelope text-primary"></h4>
<div class="pl-3">
<h5 class="text-white">邮件</h5>
<p><a href="email-protection.html" class="__cf_email__" data-cfemail="6b02050d042b0e130a061b070e45080406">[email&#160;protected]</a></p>
</div>
</div>
<div class="d-flex">
<h4 class="fa fa-phone-alt text-primary"></h4>
<div class="pl-3">
<h5 class="text-white">联系方式</h5>
<p>+11111111111</p>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 mb-5">
<h3 class="text-primary mb-4">快速访问</h3>
<div class="d-flex flex-column justify-content-start">
<a class="text-white mb-2" href="{{url_for('root')}}"><i class="fa fa-angle-right mr-2"></i>图像识别</a>
<a class="text-white mb-2" href="{{url_for('video')}}"><i class="fa fa-angle-right mr-2"></i>水鸟种类识别</a>
<a class="text-white mb-2" href="{{url_for('wetland')}}"><i class="fa fa-angle-right mr-2"></i>湿地面积变化识别</a>
<a class="text-white mb-2" href="{{url_for('answer')}}"><i class="fa fa-angle-right mr-2"></i>知识答题</a>
</div>
</div>
<div class="col-lg-3 col-md-6 mb-5">
<h3 class="text-primary mb-4">指导教师</h3>

<div class="d-flex flex-column justify-content-start">
    <p> 王晗 <br><br>牛科</p>
</div>

</div>
</div>
</div>
<div class="container-fluid pt-5" style="border-top: 1px solid rgba(23, 162, 184, .2);;">
</div>
</div>



<a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

<script data-cfasync="false" src="static/js/email-decode.min.js"></script><script src="static/js/jquery-3.4.1.min.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>
<script src="static/js/bootstrap.bundle.min.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>
<script src="static/js/easing.min.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>
<script src="static/js/owl.carousel.min.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>
<script src="static/js/isotope.pkgd.min.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>
<script src="static/js/lightbox.min.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>

<script src="static/js/jqBootstrapValidation.min.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>
<script src="static/js/contact.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>

<script src="static/js/main.js" type="e7d543e5907bc87084fc1bc0-text/javascript"></script>
<script src="static/js/rocket-loader.min.js" data-cf-settings="e7d543e5907bc87084fc1bc0-|49" defer=""></script>
</body>
</html>